<div class="container">
  <div class="images">
    <img src="https://images.unsplash.com/photo-1552196563-55cd4e45efb3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=926&q=80" />
  </div>
  <div class="card-booking-infos">
    <h4><%=@session.name%></h4>
    <p><%=@session.difficulty.upcase%></p>
    <p><%=@session.time%></p>
    <p><%=@session.duration%> min</p>
    <p><%=@session.teacher_name%></p>
    <h4><%=@session.price%>$</h4>
    <a href="#"class="buttons">Book</a>
  </div>
</div>

