<div class="card-booking <%= card_class %>">
  <div class="card-booking-infos">
      <div class="card-booking-infos-left">
         <p><strong>Studio name</strong> : <%= course.studio.name %></p>
          <p><strong>Class name</strong> : <%= course.name %></p>
          <p><strong>Date : </strong><%= course.time.strftime('%a %b %e %l %p') %></p>
      </div>
      <div class="card-booking-infos-right">
        <%= link_to booking_path(course.bookings.find_by(user: current_user)), method: :delete, data: {"confirm-swal": "Are you sure?"} do %>
          <i class="far fa-trash-alt icon-rose"></i>
        <% end %>
      </div>
    </div>
</div>

