<div class=booking_container>
  <h1 class="text-center mt-3">My Bookings</h1>
    <div class="icons-booking">
    <%= link_to root_path do %>
    <i class="fas fa-home"></i>
    <% end %>
    <%= link_to studios_path do %>
    <i class="fas fa-backward"></i>
    <% end %>
    </div>
      <% @bookings.each do |booking| %>
        <div class="card-my-booking">
            <div class="card-booking-informations">
                  <h2><strong>Class name</strong> : <%= booking.course.name %></h2>
                  <h2><strong>When? : </strong><%= booking.course.time %></h2>
                  <%= link_to booking_path(booking), method: :delete, data: {"confirm-swal" => "Are you sure?"} do %>
                    <i class="far fa-trash-alt icon-rose trash-can"></i>
                  <% end %>
            </div>
        </div>
     <% end %>
</div>
