<div class="card_container">
  <div class="images_studio">
    <img src="https://images.unsplash.com/photo-1552196563-55cd4e45efb3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=926&q=80" />
  </div>
  <div class="card-booking-infos">
    <h4><%=@course.name%></h4>
    <p><%=@course.difficulty.upcase%></p>
    <p><%=@course.time%></p>
    <p><%=@course.duration%> min</p>
    <p><%=@course.teacher_name%></p>
    <h4><%=@course.price%>$</h4>
    <a href="#"class="btn btn-rose">Book</a>
  </div>
</div>
