<div class="container">

  <div>
    <!-- for the filters -->
    <div>
        <!-- location filter -->
    </div>
    <div>
        <!-- category filter -->
    </div>
    <div>
        <!-- time filter -->
    </div>
  </div>

  <div class="d-flex">
      <!-- overall container for map, studios and sessions -->
    <div class="map-card">
      <p>MAP</p>
        <!-- map container -->
    </div>

    <div class="all-studios">

      <% @studios.each do |studio| %>

        <div class="d-flex">

          <div class="studio-card">
            <p><%= studio.name %></p>
            <%# cl_image_tag studio.photo, height: 300, width: 400, crop: :fill %>
            <%= link_to "", studio_path(studio), class: 'studio-card-link' %>
          </div>

          <div class=" d-flex sessions-card">
            <% studio.sessions.order("time").each do |session| %>
              <div>
                <ul class="flex-column session-card p-0 m-0">
                  <div class="session-info-card">
                  <p><%= session.name %></p>
                  <p><%= session.time %></p>
                  <%= link_to "", session_path(session), class: 'session-info-card-link' %>
                  </div>
                  <div>
                  <%= simple_form_for [session, Booking.new] do |f| %>
                    <%= f.submit "Book", class: 'booking-btn' %>
                  <% end %>
                  </div>
                </ul>
              </div>
            <% end %>
          </div>

        </div>

      <% end %>

    </div>

  </div>

</div>]
