<div class="studios-container">

  <div>
    <!-- for the filters -->
    <div>
        <!-- location filter -->
    </div>
    <div>
        <!-- category filter -->
    </div>
    <div>
        <!-- time filter -->
    </div>
  </div>

  <div class="d-flex">
      <!-- overall container for map, studios and courses -->
    <div class="map-card">
      <p>MAP</p>
        <!-- map container -->
        <div id="map" style="width: 100%; height: 600px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>

    <div class="all-studios">

      <% @studios.each do |studio| %>

        <div class="d-flex">

          <div class="studio-card">
            <p><%= studio.name %></p>
            <%# cl_image_tag studio.photo, height: 300, width: 400, crop: :fill %>
            <%= link_to "", studio_path(studio), class: 'studio-card-link' %>
          </div>

          <div class=" d-flex courses-card">
            <% studio.courses.order("time").each do |course| %>
              <div>
                <ul class="flex-column course-card p-0 m-0">
                  <div class="course-info-card">
                  <p><%= course.name %></p>
                  <p><%= course.time %></p>
                  <%= link_to "", course_path(course), class: 'course-info-card-link' %>
                  </div>
                  <div>
                  <%= simple_form_for [course, Booking.new] do |f| %>
                    <%= f.submit "Book", class: 'booking-btn' %>
                  <% end %>
                  </div>
                </ul>
              </div>
            <% end %>
          </div>

        </div>

      <% end %>

    </div>

  </div>

</div>]
