<div class="bg-white">
  <div class="container_em bg-white border p-3 sticky-top">
    <div class="row">
      <div class="col-md-4">
        <div>
          <%= cl_image_tag @studio.photo, height: 300, width: 600, crop: :fill %>
        </div>
      </div>
      <div class="col-md-4">
        <h3><%=@studio.name%></h3>
        <p><%=@studio.description%></p>
      </div>
      <div class="col-md-4">
        <div class="bg-white border p-3 sticky-top">
          <a href="#" class="button-contact-layout rose-studio" style="text-decoration:none;">Contact</a>
          <div class="d-flex justify-content-between mt-3">
            <p>
              <span class="float-right"><i class="far fa-star" id="golden_star"></i></span>
              <span class="float-right"><i class="far fa-star" id="golden_star"></i></span>
              <span class="float-right"><i class="far fa-star" id="golden_star"></i></span>
            </p>
          </div>
          <div class="d-flex justify-content-between mt-3">
            <p><strong>Address</strong></p>
            <p><%=@studio.address%></p>
          </div>
          <div class="d-flex justify-content-between mt-3">
            <p><strong>Telephone</strong></p>
            <p>09-342-765-23</p>
          </div>
          <div class="d-flex justify-content-between mt-3 border-bottom">
            <p><strong>e-mail</strong></p>
            <p><%=@studio.email%></p>
          </div>
        </div>
      </div>
    </div>
  </div>

    <h1><center>Available Slots</center></h1>
    <div class="row justify-content-md-center">
      <div class="col-md-6">

            <%@studio.courses.each do |course| %>
              <div>
                <ul class="card p-3 mb-3">
                  <div class="course-info-card">
                  <p><strong><%= course.name %></strong></p>
                  <p><strong>Level:</strong> <%= course.difficulty%></p>
                  <p><strong>Time:</strong> <%= course.time.to_formatted_s(:short) %></p>
                  <p><strong>Capacity:</strong> <%= course.capacity%></p>
                  <p><strong>Price:</strong> $<%= course.price%></p>
                  <p><strong>Duration: </strong><%= course.duration%> min</p>
                  <%= link_to "", course_path(course), class: 'course-info-card-link' %>
                  </div>
                  <div>
                  <%= simple_form_for [course, Booking.new] do |f| %>
                    <%= f.submit "Book", class: 'rose-studio' %>
                  <% end %>
                  </div>
                </ul>
              </div>
            <% end %>
        </div>
      </div>

  <div class="card">
      <div class="card-body">
        <h2 class="text-center">Reviews</h2>
          <div class="row">
              <div class="col-md-2">
                  <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
              </div>
              <div class="col-md-10">
                  <p>
                      <a class="float-left" ><strong>The gym stinks</strong></a>
                      <span class="float-right"><i class="far fa-star" id="golden_star"></i></span>
                      <span class="float-right"><i class="far fa-star" id="golden_star"></i></span>
                      <span class="float-right"><i class="far fa-star" id="golden_star"></i></span>
                 </p>
                 <div class="clearfix"></div>
                  <p>Lorem Ipsum is simply dummy text of the pr make  but also the leap into electronic typesetting, remaining essentially unchanged.
                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <a style="text-decoration:none;" class="button-like-layout rose-studio" href="#"> Like</a>
                    <a style="text-decoration:none;"class="button-review-layout rose-studio"  href="#">Leave a Review</a>
              </div>
          </div>
      </div>
  </div>
</div>
